<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.assignment201614122">
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-feature    android:name="android.hardware.sensor.gyroscope"    android:required="true" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AccelerometerActivity"
            android:label="Accelerometer"
            android:launchMode="singleTop"/>
        <activity
            android:name=".GyroscopeActivity"
            android:label="Gyroscope"
            android:launchMode="singleTop"/>
        <activity
            android:name=".ProximityActivity"
            android:label="@string/proximity"
            android:launchMode="singleTop"/>
        <activity
            android:name=".ShakeDetectionActivity"
            android:label="@string/shake_detector"
            android:launchMode="singleTop"/>
        <activity
            android:name=".MapActivity"
            android:label="@string/map_route"
            android:launchMode="singleTop"/>
        <activity
            android:name=".GyroscopeRetrieve"
            android:label="@string/gyroscope_data"
            android:launchMode="singleTop"/>
    </application>

</manifest>